@model Seller

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Seller</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-label">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control"/>
            </div>
            <div class="form-label">
                <label asp-for="Email" class="col-form-label"></label>
                <input asp-for="Email" class="form-control"/>
            </div>
            <div class="form-label">
                <label asp-for="BirthDate" class="col-form-label"></label>
                <input asp-for="BirthDate" class="form-control"/>
            </div>
            <div class="form-label">
                <label asp-for="BaseSalary" class="col-form-label"></label>
                <input asp-for="BaseSalary" class="form-control"/>
            </div>
            <div class="form-label">
                <input type="submit" value="Create" class="btn btn-dark" formmethod="post"/>
            </div>
        </form>
    </div>
</div>