@model Seller

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-label">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-label">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-label">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-label">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <div class="form-label">
                <label asp-for="Departament" class="control-label"></label>
                <input asp-for="Departament" class="form-control" />
            </div>            
            <p></p>
            <div class="form-label">
                <input type="submit" value="Create" class="btn btn-dark" formmethod="post" />
            </div>
        </form>
    </div>
</div>