@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<p>Use this page to detail your site's content.</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/VanMachado" target="_blank">Meu GitHub</a>
</address>